@import "tailwindcss";
@import 'aos/dist/aos.css';
@plugin "daisyui";

.en-tete {
  @apply bg-base-200;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about {
  @apply bg-base-200;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.ft {
   @apply bg-base-200;
  padding: 20px;
  box-sizing: border-box;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}